:root {
  --border-color: #ededed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

html, body {
  height: 100%;
  width: 100%; 
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-inline: 1.25rem;
}

.icons {
  font-size: 1.85rem;
}

.icons-2 {
  font-size: 1.15rem;
}

/********** Navbar **********/

.nav {
  margin-block: .75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  
}

.nav-right, .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
}

.nav-menu {
  position: absolute;
  top: -600%;
  left: 0%;
  background-color: #fff;
  width: 100%;
  padding-block: 1rem;
  flex-direction: column;
  column-gap: 0;
  row-gap: 1rem;
  transition: top .5s ease;
}

.show-nav-menu {
  top: 0%;
  transition: .5s ease;
}


/********** Sidebar **********/

.sidebar {
  position: absolute;
  top: 0%;
  left: -100%;
  height: 100%;
  width: 85%;
  background-color: #fff;
  padding-block: 1rem 2rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 1rem;
  border-right: 1px solid var(--border-color);
  transition: left .5s ease;
}

.sidebar-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  
}


.siderbar-logo {
  font-size: 1.5rem;
}

.sidebar-menu {
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 1rem;
}

.settings-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .35rem;
  padding-left: 1.25rem;
  
}

.show-sidebar {
  left: 0%;
  transition: .5s ease;
}

/******** Home Section ********/

.home-container {
  padding-inline: 2rem;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

.card {
  width: 90%;
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  padding: 1rem 1.25rem;
}

.card-stats {
  
}