:root {
  --border-color: #ededed;
  --title-color: #2d2d2d;
  --btn-bg-color: #097969;
  --blue: #002D62;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  padding-inline: 1.25rem;
}

.icons {
  font-size: 1.85rem;
}

.icons-2 {
  font-size: 1.15rem;
}

.btn {
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  color: var(--title-color);
  background-color: white;
}

.title {
  font-size: 1.75rem;
  color: var(--title-color);
}

/********** Navbar **********/

.header {
  position: relative;
  background: tranparent;
  
}
.nav {
  padding-block: .55rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: white;
}

.nav-right, .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
}

.nav-menu {
  position: absolute;
  top: -600%;
  left: 0%;
  background-color: #fff;
  width: 100%;
  padding-block: 1rem;
  flex-direction: column;
  column-gap: 0;
  row-gap: 1rem;
  transition: top .5s ease;
}

.show-nav-menu {
  top: 0%;
  transition: .5s ease;
}

.on-nav-scroll {
  border-bottom: 1px solid var(--border-color);
}

/********** Sidebar **********/

.sidebar {
  position: fixed;
  top: 0%;
  left: -100%;
  z-index: 9999;
  height: 100%;
  width: 85%;
  background-color: #fff;
  padding-block: 1rem 2rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 1rem;
  border-right: 1px solid var(--border-color);
  transition: left .5s ease;
}

.sidebar-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  
}


.siderbar-logo {
  font-size: 1.5rem;
}

.sidebar-menu {
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 1rem;
}

.settings-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .35rem;
  padding-left: 1.25rem;
  
}

.show-sidebar {
  left: 0%;
  transition: .5s ease;
}

/******** Home Section ********/

.home {
  padding-top: 5rem;
  height: 100%;
  width: 100%;
}

.home-container {
  overflow: hidden;
}

.home-title {
  margin-top: 1rem;
  font-size: 3.05rem;
  font-weight: 600;
  color: var(--title-color);
}

.home-subtitle {
  margin-top: .5rem;
  font-size: 1.05rem;
  font-weight: 400;
}

.home-btn {
  margin-top: 1.5rem;
  color: white;
  background-color: var(--btn-bg-color);
  border: 1px solid var(--btn-bg-color);
}
.home-btn:hover {
  background-color: white;
  color: var(--btn-bg-color);
}

.home-figure {
  position: relative;
  left: 55%;
  margin-block: 2.6rem;
  width: 250px;
  height: 100px;
  border: 3px solid var(--title-color);
  border-radius: 50px;
  
}

/******* Cards *******/

.card {
  width: 90%;
  display: grid;
  place-items: center;
  margin-block: 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-block: .75rem;
}

.card-content {
  width: 90%;
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  padding: 1rem 1.25rem;
}

.card-stats {
  margin-block: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stat-value {
  font-size: 2rem;
  font-weight: 100;
  
}

.stat-changing {
  color: green;
  font-size: .75rem;
  font-weight: 400;
  padding-left: .15rem;
}

.stat-title {
  font-weight: 400;
  font-size: 1.25rem;
  
}

/***** Supported Platforms *****/

.supported-platforms-container {
  padding-top: 2rem;
  
  padding-bottom: 3.5rem;
  
}


.platform-icons {
  margin-top: 1.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.25rem;
}

.social-icons {
  font-size: 2.5rem;
}


/******** Key Features ********/


.key-features-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem 0;
}

.key-feature-card {
  min-width: 300px;
  height: 300px;
  /*border: 1px solid var(--border-color);*/
  box-shadow: 0px 0px 10px rgb(69, 69, 69, 0.1);
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
}

.feature-title {
  font-size: 1.25rem;
  font-weight: 400;
}


/******** Footer *********/

.footer {
  padding-block: 1.5rem;
  border-radius: 10px 10px 0 0;
  
  background-color: var(--title-color);
  color: white;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.footer-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.footer-menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  row-gap: .75rem;
}

.footer-links {
	color: white;
}

.newsletter-container {
  background-color: black;
  padding: 1.5rem 1rem;
  border-radius: .5rem;
}

.email-box {
  margin-top: .75rem;
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email {
  padding: .75rem;
  border-radius: .45rem;
  width: 70%;
}

.copyright-tag {
  margin-top: 1rem;
  text-align: center;
  font-size: .85rem;
}


/********* Signup *********/

.signup {
  padding-block: 5rem;
  height: 100%;
  width: 100%;
}

.signup-container {
  display: grid;
  place-items: center;
  row-gap: 2rem;
}

.signup-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
  min-width: 250px;
}

.signup-inputs {
  border-bottom: 2px solid var(--border-color);
  width: 100%;
  padding: .25rem;
  color: #474747;
  font-size: 1rem;
 }

 .submit-btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: .45rem;
	width: 100%;
 }

.signup-btn {
	margin-top: 1rem;
	color: white;
	background-color: var(--btn-bg-color);
	width: 100%;
	text-transform: uppercase;
}

.already-registered {
	text-decoration: underline;
	color: blue;
	font-size: .85rem;
}

.form-error-container {
	color: red;
	width: 100%;
	height: 10px;
}

/********* Dashboard Section ***********/

.dashboard-section {
	padding-block: 5rem;
	width: 100%;
	height: 100%;
}

.dashboard-container {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 2rem;
}

/***** User Card *****/

.user-card {
	padding: 1rem;
	background-color: var(--blue);
	color: #fff;
	border-radius: .5rem;
	height: max-content;

}

.user-name {
	font-size: 1.35rem;
}

.user-email {
	font-size: .95rem;
	opacity: .7;
}

.total-insights {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-block: 1.5rem;
}

.insight-box {
	display: grid;
	place-items: center;
}

.insight-value {
	font-size: .95rem;
}

.insight-title {
	text-transform: uppercase;
	font-size: .75rem;
}

/***** Insights Container *****/

.social-stats {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 3rem;
	width: 100%;
}


.insights-container {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 2rem;
	width: 100%;

}

.insights-title {
	text-align: center;
}

.user-insights-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	row-gap: 1.5rem;
}

.social-insight {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.social-title-box {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: .45rem;
	width: 100%;
}

.social-main-title {
	font-size: 1.25rem;
	opacity: .5;
}

.title-line {
	height: .8px;
	width: 100%;
	background-color: #202020;
	opacity: .3;
}

/***** Socials Connected *****/

.socials-connected {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: .5rem;

}

.socials-box {
	display: flex;
        align-items: center;
        justify-content: center;
	column-gap: .25rem;
}

.connect-icon {
	color: #fff;
}


/********** Media Queries ************/

@media screen and (min-width: 900px) {
  .container {
    padding-inline: 8rem;
  }
}
